{
    "openapi": "3.0.1",
    "info": {
        "title": "Access Control",
        "description": "Manage Access Controls for your iTwin member using iTwin roles and permissions.",
        "license": {
            "name": "iTwin Platform License",
            "url": "https://developer.bentley.com/terms-of-service/"
        },
        "version": "v2"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/accesscontrol"
        }
    ],
    "paths": {
        "/itwins/permissions": {
            "get": {
                "tags": [
                    "iTwin Permissions"
                ],
                "summary": "Get all permissions",
                "description": "Retrieves the list of all available permissions\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nNo Authorization is required for this API call.",
                "operationId": "get-all-permissions",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermissionsResponse"
                                },
                                "example": {
                                    "permissions": [
                                        "administration_invite_member"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{id}/groups": {
            "get": {
                "tags": [
                    "iTwin Groups"
                ],
                "summary": "Get iTwin groups",
                "description": "Retrieves a list of all groups that are defined for a specified iTwin. The `members` and `imsGroups` properties are both capped at 50 each. The default cap can be overridden if paging params are provided. Paging links are only included when top or skip query parameters are used.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns the given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sysparm_article=KB0019189) wiki page.",
                "operationId": "get-itwin-groups",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupsResponse"
                                },
                                "example": {
                                    "groups": [
                                        {
                                            "id": "149d0860-39e9-4ae9-9b05-0b5dcedd2d4b",
                                            "name": "Sample Group",
                                            "description": "This is a group for a sample",
                                            "members": [
                                                {
                                                    "userId": "69e0284a-1331-4462-9c83-9cdbe2bdaa7f",
                                                    "email": "Thomas.Wilson@example.com",
                                                    "givenName": "Thomas",
                                                    "surname": "Wilson",
                                                    "organization": "Organization Corp."
                                                }
                                            ],
                                            "imsGroups": [
                                                "Sample IMS Group"
                                            ]
                                        },
                                        {
                                            "id": "149d0860-39e9-4ae9-9b05-0b5dcedd2d4b",
                                            "name": "Another Sample Group",
                                            "description": "This is a group for another sample",
                                            "members": [
                                                {
                                                    "userId": "25407933-cad2-41a2-acf4-5a074c83046b",
                                                    "email": "Maria.Miller@example.com",
                                                    "givenName": "Maria",
                                                    "surname": "Miller",
                                                    "organization": "Organization Corp."
                                                }
                                            ],
                                            "imsGroups": [
                                                "Another Sample IMS Group"
                                            ]
                                        }
                                    ],
                                    "_links": {
                                        "self": {
                                            "href": "https://api.bentley.com/accesscontrol/itwins/8e27f9d7-a4ad-4e29-a6e9-99ce871ae7dd/groups?$top=100"
                                        },
                                        "prev": {
                                            "href": "https://api.bentley.com/accesscontrol/itwins/8e27f9d7-a4ad-4e29-a6e9-99ce871ae7dd/groups?$top=100&$skip=0"
                                        },
                                        "next": {
                                            "href": "https://api.bentley.com/accesscontrol/itwins/8e27f9d7-a4ad-4e29-a6e9-99ce871ae7dd/groups?$top=100&$skip=200"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that iTwin with specified ID was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ItwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to get iTwin members.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidiTwinsGroupPagedRequest",
                                        "message": "Request body or query is invalid.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Value outside of valid range.",
                                                "target": "$top"
                                            },
                                            {
                                                "code": "InvalidRequestBody",
                                                "message": "Failed to parse request body or collection is empty."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "iTwin Groups"
                ],
                "summary": "Create iTwin group",
                "description": "Create a new iTwin group.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nA user can create a Group by being assigned the `administration_manage_groups` on the iTwin level. A user also can create a Group on an iTwin by either being an Organization Administrator for the Organization that owns the given iTwin, or an owner of the iTwin.\r\n\r\nFor creation of Groups on the Account iTwin, the user must be an Organization Administrator for the Organization.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sysparm_article=KB0019189) wiki page.",
                "operationId": "create-itwin-group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateGroupRequest"
                            },
                            "example": {
                                "name": "Sample Group",
                                "description": "This is a group for created for a sample"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "iTwin group was successfully added.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupResponse"
                                },
                                "example": {
                                    "group": {
                                        "id": "82156be8-5179-4856-8fdd-802e305f9dfa",
                                        "name": "Sample Group",
                                        "description": "This is a group for created for a sample",
                                        "members": [],
                                        "imsGroups": []
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates the iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ItwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to create new iTwin group. Make sure request had required properties and does not pass in readonly properties.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidiTwinsGroupRequest",
                                        "message": "Cannot create/update group.",
                                        "details": [
                                            {
                                                "code": "MissingRequiredProperty",
                                                "message": "Required property is missing.",
                                                "target": "Name"
                                            },
                                            {
                                                "code": "MissingRequiredProperty",
                                                "message": "Required property is missing.",
                                                "target": "Description"
                                            },
                                            {
                                                "code": "InvalidRequestBody",
                                                "message": "Failed to parse request body or collection is empty."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{id}/groups/{groupId}": {
            "delete": {
                "tags": [
                    "iTwin Groups"
                ],
                "summary": "Delete iTwin group",
                "description": "Delete the specified iTwin group.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nA user can delete a Group by being assigned the `administration_manage_groups` on the iTwin level. A user also can delete a Group on an iTwin by either being an Organization Administrator for the Organization that owns the given iTwin, or an owner of the iTwin.\r\n\r\nFor deletion of Groups on the Account iTwin, the user must be an Organization Administrator for the Organization.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sysparm_article=KB0019189) wiki page.",
                "operationId": "delete-itwin-group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates iTwin or group was not found.",
                        "content": {
                            "application/json;ItwinNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ItwinNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ItwinNotFound",
                                                "message": "Requested iTwin is not available."
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;GroupNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "GroupNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "GroupNotFound",
                                                "message": "Requested group is not available."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "iTwin Groups"
                ],
                "summary": "Get iTwin group",
                "description": "Retrieves the specified group for the specified iTwin. The `members` and `imsGroups` properties are both capped at 50 each.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns the given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sysparm_article=KB0019189) wiki page.",
                "operationId": "get-itwin-group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupResponse"
                                },
                                "example": {
                                    "group": {
                                        "id": "149d0860-39e9-4ae9-9b05-0b5dcedd2d4b",
                                        "name": "Sample Group",
                                        "description": "This is a group for a sample",
                                        "members": [
                                            {
                                                "userId": "69e0284a-1331-4462-9c83-9cdbe2bdaa7f",
                                                "email": "Thomas.Wilson@example.com",
                                                "givenName": "Thomas",
                                                "surname": "Wilson",
                                                "organization": "Organization Corp."
                                            }
                                        ],
                                        "imsGroups": [
                                            "Sample IMS Group"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that iTwin or group with specified ID was not found.",
                        "content": {
                            "application/json;ItwinNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ItwinNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ItwinNotFound",
                                                "message": "Requested iTwin is not available."
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;GroupNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "GroupNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "GroupNotFound",
                                                "message": "Requested group is not available."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "iTwin Groups"
                ],
                "summary": "Update iTwin group",
                "description": "Update the specified iTwin group. The `members` and `imsGroups` properties are both capped at 50 each.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nA user can update a Group by being assigned the `administration_manage_groups` on the iTwin level. If the user is adding members or IMS groups they must also have the `administration_invite_member` permission assigned at the iTwin level. If the user is removing members or IMS groups they must also have the `administration_remove_member` permission assigned at the iTwin level.\r\n\r\nA user also can update a Group on an iTwin by either being an Organization Administrator for the Organization that owns the given iTwin, or an owner of the iTwin.\r\n\r\nTo update a Group on the Account iTwin, the user must be an Organization Administrator for the Organization.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sysparm_article=KB0019189) wiki page",
                "operationId": "update-itwin-group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGroupRequest"
                            },
                            "example": {
                                "name": "A new group name",
                                "description": "A new group description",
                                "members": [
                                    "John.Johnson@example.com"
                                ],
                                "imsGroups": [
                                    "Sample IMS Group"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateGroupResponse"
                                },
                                "example": {
                                    "group": {
                                        "id": "149d0860-39e9-4ae9-9b05-0b5dcedd2d4b",
                                        "name": "Sample Group",
                                        "description": "This is a group for a sample",
                                        "members": [
                                            {
                                                "userId": "99cf5e21-735c-4598-99eb-fe3940f96353",
                                                "email": "John.Johnson@example.com",
                                                "givenName": "John",
                                                "surname": "Johnson",
                                                "organization": "Organization Corp."
                                            }
                                        ],
                                        "imsGroups": [
                                            "Sample IMS Group"
                                        ],
                                        "invitations": [
                                            {
                                                "id": "09d3d183-ffe0-4df1-95b5-c4421520b375",
                                                "email": "Simon.Simonson@example.com",
                                                "invitedByEmail": "Maria.Miller@example.com",
                                                "status": "Pending",
                                                "createdDate": "2025-08-11T02:16:38.0000000+00:00",
                                                "expirationDate": "2025-08-25T02:16:38.0000000+00:00"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that iTwin, group, member, or IMS group with specified ID was not found.",
                        "content": {
                            "application/json;ItwinNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ItwinNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ItwinNotFound",
                                                "message": "Requested iTwin is not available."
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;GroupNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "GroupNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "GroupNotFound",
                                                "message": "Requested group is not available."
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;TeamMemberNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "TeamMemberNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "TeamMemberNotFound",
                                                "message": "Requested team member is not available.",
                                                "target": "members[0]"
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;ImsGroupNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ImsGroupNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ImsGroupNotFound",
                                                "message": "Requested IMS group is not available.",
                                                "target": "imsGroups[0]"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Invalid request to update iTwin group. User or IMS Group already exists in iTwin group.",
                        "content": {
                            "application/json;UserExists": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "UserExists": {
                                        "value": {
                                            "error": {
                                                "code": "UserExists",
                                                "message": "Requested user already exists in iTwin group.",
                                                "target": "members[1]"
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;ImsGroupExists": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ImsGroupExists": {
                                        "value": {
                                            "error": {
                                                "code": "ImsGroupExists",
                                                "message": "Requested IMS group already exists in iTwin group.",
                                                "target": "imsGroups[1]"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to update iTwin group. Make sure request had required properties, does not pass in readonly properties, and does not exceed maximum size",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidiTwinsGroupRequest",
                                        "message": "Cannot create/update group.",
                                        "details": [
                                            {
                                                "code": "MissingRequiredProperty",
                                                "message": "Required property is missing.",
                                                "target": "Name"
                                            },
                                            {
                                                "code": "MissingRequiredProperty",
                                                "message": "Required property is missing.",
                                                "target": "Description"
                                            },
                                            {
                                                "code": "InvalidProperty",
                                                "message": "Collection size exceeds maximum size.",
                                                "target": "members"
                                            },
                                            {
                                                "code": "InvalidProperty",
                                                "message": "Collection size exceeds maximum size.",
                                                "target": "imsGroups"
                                            },
                                            {
                                                "code": "MissingRequiredProperty",
                                                "message": "Required property is missing.",
                                                "target": "members[0]"
                                            },
                                            {
                                                "code": "MissingRequiredProperty",
                                                "message": "Required property is missing.",
                                                "target": "imsGroups[0]"
                                            },
                                            {
                                                "code": "InvalidRequestBody",
                                                "message": "Failed to parse request body or collection is empty."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{id}/groups/{groupId}/invitations": {
            "get": {
                "tags": [
                    "Technology Preview",
                    "iTwin Groups"
                ],
                "summary": "Get iTwin group member invitations",
                "description": "Retrieves a list of iTwin group member invitations. By default, users will receive the invitations they have sent. If the user is an iTwin Owner, they will receive all invitations for the iTwin.\r\n\r\nInvitations have an expiration of 7 days after their creation. Once that expiration passes, the invitation will not be returned.\r\n\r\n### Authorization\r\n\r\nThe calling user must be a member of the iTwin. Organization Administrator can also retrieve iTwin member invitations for any iTwin in their Organization.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n",
                "operationId": "get-itwin-group-member-invitations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupMemberInvitationsPagedResponse"
                                },
                                "example": {
                                    "invitations": [
                                        {
                                            "id": "99cf5e21-735c-4598-99eb-fe3940f96353",
                                            "email": "invited.user@example.com",
                                            "invitedByEmail": "inviter.admin@org.com",
                                            "status": "Pending",
                                            "createdDate": "2023-11-10T02:22:42.0000000+00:00",
                                            "expirationDate": "2023-11-17T02:22:42.0000000+00:00"
                                        },
                                        {
                                            "id": "310122ef-0939-4377-9ac0-61d80b5d729e",
                                            "email": "another.invited.user@example.com",
                                            "invitedByEmail": "inviter.admin@org.com",
                                            "status": "Pending",
                                            "createdDate": "2023-11-10T06:31:01.0000000+00:00",
                                            "expirationDate": "2023-11-17T06:31:01.0000000+00:00"
                                        }
                                    ],
                                    "_links": {
                                        "self": {
                                            "href": "https://api.bentley.com/iTwins/806b19d5-c037-48a4-aa98-e297c81453f1/groups/invitations?$skip=0&$top=100"
                                        },
                                        "prev": {
                                            "href": "https://api.bentley.com/iTwins/806b19d5-c037-48a4-aa98-e297c81453f1/groups/invitations?$skip=0&$top=100"
                                        },
                                        "next": {
                                            "href": "https://api.bentley.com/iTwins/806b19d5-c037-48a4-aa98-e297c81453f1/groups/invitations?$skip=100&$top=100"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that iTwin with specified ID was not found.",
                        "content": {
                            "application/json;GroupNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "GroupNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "GroupNotFound",
                                                "message": "Requested group is not available."
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;ItwinNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ItwinNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ItwinNotFound",
                                                "message": "Requested iTwin is not available."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to get iTwin member invitations.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidiTwinGroupInvitationsRequest",
                                        "message": "Request body or query is invalid.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Value outside of valid range.",
                                                "target": "$top"
                                            },
                                            {
                                                "code": "InvalidRequestBody",
                                                "message": "Failed to parse request body or collection is empty."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{id}/groups/{groupId}/invitations/{invitationId}": {
            "delete": {
                "tags": [
                    "Technology Preview",
                    "iTwin Groups"
                ],
                "summary": "Delete iTwin group member invitation",
                "description": "Delete the specified iTwin group invitation.\r\n\r\n### Authorization\r\n\r\nThe calling user must be a member of the iTwin. Organization Administrator can also retrieve iTwin member invitations for any iTwin in their Organization.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n",
                "operationId": "delete-itwin-group-member-invitation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "invitationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
[...]
