{
    "openapi": "3.0.1",
    "info": {
        "title": "iModels",
        "description": "iModelHub is the control center for iModels. It is responsible for coordinating concurrent access to iModels as well as changes made to them in a form of [Changesets](https://www.itwinjs.org/learning/glossary/#changeset).\r\n\r\nOverview of [iModelHub](https://www.itwinjs.org/learning/imodelhub/) and [iModels](https://www.itwinjs.org/learning/imodels/).\r\n\r\nThese APIs lets you retrieve metadata about the iModels pushed to iModelHub. To view, create or update your iModels use [iTwin.js](https://www.itwinjs.org/) client libraries.\r\n",
        "license": {
            "name": "iTwin Platform License",
            "url": "https://developer.bentley.com/terms-of-service/"
        },
        "version": "v2"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/imodels"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "iModels"
                ],
                "summary": "Get iTwin iModels",
                "description": "---\r\n\r\nRetrieves a list of iModels belonging to the specified iTwin.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `imodels_webview` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nIf the user has the `imodels_manage` permission at the iTwin level or is an Organization Administrator, all iModels for the iTwin will be returned.\r\n\r\nIf iModel level permissions are configured and the user does not have the `imodels_webview` permission for a specific iModel, that iModel will not appear in the results.\r\n\r\nFor more information please refer to [Account Administrator](https://developer.bentley.com/apis/access-control-v2/overview/#accountadministrator) documentation section on Access Control API documentation page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
                "operationId": "get-itwin-imodels",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "query",
                        "description": "Id of the iTwin.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The $top query option requests the number of items in the queried collection to be included in the result. E.g. to return only first collection item provide the following query: $top=1. When $top parameter is not provided default is set to 100. $top value cannot exceed 1000.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "$continuationToken",
                        "in": "query",
                        "description": "Token to retrieve next page in paginated response. Generated by the service and must be sent as is. Currently $skip parameter is being used by default. To initialize usage of continuation token empty $continuationToken must be provided with the first page query: $continuationToken=. $continuationToken is mutual exclusive with $skip parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "**Deprecated** The $skip query option requests the number of items in the queried collection that are to be skipped and not included in the result. E.g. to return items from the collection starting at the third place provide the following query: $skip=2. $skip is mutual exclusive with $continuationToken parameter.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "description": "The $orderBy query option allows clients to request ascending using 'asc' or descending using 'desc' order of the returned collection by one or more item properties. Currently supported properties for iModels are 'name' and 'createdDateTime'. When neither 'asc' or 'desc' keyword is specified the collection is sorted in ascending order. To sort the collection in descending order provide 'desc' keyword e.g.: $orderBy=name desc,createdDateTime desc",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$search",
                        "in": "query",
                        "description": "The $search query option allows users to filter iModels whose name or description property contains the search string. E.g. to return iModels whose name or description contains 'Sun City', provide the following query: $search=Sun%20City. This parameter cannot be used at the same time as the name parameter. Valid values for this parameter are non-empty strings that are not longer than 255 characters.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name query option allows users to filter iModels by their name property. E.g. to return iModels that have a name equal to 'Sun City Renewable-energy Plant' provide the following query: name=Sun%20City%20Renewable-energy%20Plant. Valid values for this parameter follow the same requirements as for iModel creation - strings should be not empty, consist not only of whitespace and not exceed 255 characters. This query option uses exact matching.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "The state query option allows users to filter iModels by their state property. To return iModels that are initialized, provide initialized keyword e.g.: state=initialized. Valid values for this parameter are 'initialized' or 'notInitialized'.",
                        "schema": {
                            "enum": [
                                "initialized",
                                "notInitialized"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Indicates a level of details in the response.",
                        "schema": {
                            "$ref": "#/components/schemas/PreferHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;Minimal": {
                                "schema": {
                                    "$ref": "#/components/schemas/iModelsMinimal"
                                },
                                "examples": {
                                    "Minimal": {
                                        "value": {
                                            "iModels": [
                                                {
                                                    "id": "758bdcde-567a-43e0-9321-c7897cced698",
                                                    "displayName": "Sun City Renewable-energy Plant",
                                                    "dataCenterLocation": "East US"
                                                },
                                                {
                                                    "id": "b44460c9-b61d-422c-9422-d36497c3dd04",
                                                    "displayName": "Power Town Processing Plant",
                                                    "dataCenterLocation": "East US"
                                                }
                                            ],
                                            "_links": {
                                                "self": {
                                                    "href": "https://api.bentley.com/imodels?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$skip=0&$top=100"
                                                },
                                                "prev": {
                                                    "href": "https://api.bentley.com/imodels?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$skip=0&$top=100"
                                                },
                                                "next": {
                                                    "href": "https://api.bentley.com/imodels?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$skip=100&$top=100"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;Representation": {
                                "schema": {
                                    "$ref": "#/components/schemas/iModelsRepresentation"
                                },
                                "examples": {
                                    "Representation": {
                                        "value": {
                                            "iModels": [
                                                {
                                                    "id": "758bdcde-567a-43e0-9321-c7897cced698",
                                                    "displayName": "Sun City Renewable-energy Plant",
                                                    "dataCenterLocation": "East US",
                                                    "name": "Sun City Renewable-energy Plant",
                                                    "description": "Overall model of wind and solar farms in Sun City",
                                                    "state": "initialized",
                                                    "createdDateTime": "2020-10-20T10:51:33.0000000+00:00",
                                                    "lastChangesetPushDateTime": null,
                                                    "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                                    "isSecured": true,
                                                    "extent": {
                                                        "southWest": {
                                                            "latitude": 46.1326770283481,
                                                            "longitude": 7.67212000993845
                                                        },
                                                        "northEast": {
                                                            "latitude": 46.3027639547812,
                                                            "longitude": 7.83554164079782
                                                        }
                                                    },
                                                    "_links": {
                                                        "creator": {
                                                            "href": "https://api.bentley.com/imodels/758bdcde-567a-43e0-9321-c7897cced698/users/42101fba-847a-4f4e-85a8-a4bed89065e4"
                                                        },
                                                        "changesets": {
                                                            "href": "https://api.bentley.com/imodels/758bdcde-567a-43e0-9321-c7897cced698/changesets"
                                                        },
                                                        "namedVersions": {
                                                            "href": "https://api.bentley.com/imodels/758bdcde-567a-43e0-9321-c7897cced698/namedversions"
                                                        }
                                                    }
                                                },
                                                {
                                                    "id": "b44460c9-b61d-422c-9422-d36497c3dd04",
                                                    "displayName": "Power Town Processing Plant",
                                                    "dataCenterLocation": "East US",
                                                    "name": "Power Town Processing Plant",
                                                    "description": "Overall model of processing plant in Power town",
                                                    "state": "notInitialized",
                                                    "createdDateTime": "2020-10-20T10:51:33.0000000+00:00",
                                                    "lastChangesetPushDateTime": null,
                                                    "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                                    "isSecured": false,
                                                    "extent": {
                                                        "southWest": {
                                                            "latitude": 40.0650515864199,
                                                            "longitude": -75.6892050246177
                                                        },
                                                        "northEast": {
                                                            "latitude": 40.0669564955616,
                                                            "longitude": -75.6865871886192
                                                        }
                                                    },
                                                    "_links": {
                                                        "creator": {
                                                            "href": "https://api.bentley.com/imodels/b44460c9-b61d-422c-9422-d36497c3dd04/users/42101fba-847a-4f4e-85a8-a4bed89065e4"
                                                        },
                                                        "changesets": {
                                                            "href": "https://api.bentley.com/imodels/b44460c9-b61d-422c-9422-d36497c3dd04/changesets"
                                                        },
                                                        "namedVersions": {
                                                            "href": "https://api.bentley.com/imodels/b44460c9-b61d-422c-9422-d36497c3dd04/namedversions"
                                                        }
                                                    }
                                                }
                                            ],
                                            "_links": {
                                                "self": {
                                                    "href": "https://api.bentley.com/imodels?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$skip=0&$top=100"
                                                },
                                                "prev": {
                                                    "href": "https://api.bentley.com/imodels?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$skip=0&$top=100"
                                                },
                                                "next": {
                                                    "href": "https://api.bentley.com/imodels?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$skip=100&$top=100"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Specified iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidiModelsRequest",
                                        "message": "Cannot get iModels.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "'abc' is not a valid 'iTwinId' value.",
                                                "target": "iTwinId"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "iModels"
                ],
                "summary": "Create iModel",
                "description": "---\r\n\r\nCreates an [iModel](https://www.itwinjs.org/learning/glossary/#imodel).\r\nThere are four different ways to create an iModel.\r\n\r\n### 1. Create an empty iModel\r\nTo create an empty iModel provide `empty` creation mode and do not provide `template` and `baselineFile` properties.\r\n\r\n### 2. Create an iModel from an existing iModel\r\nTo create an iModel from another iModel provide `fromiModelVersion` creation mode and `template` property. The server will apply changesets up to the one specified by `changesetId` property to the source iModel file and use it as a Baseline File for the newly created iModel. User must have `imodels_read` permissions to the source iModel. Source and target iTwins must be in the same data center.\r\n\r\n### 3. Create an iModel using a Baseline File\r\nCreating an iModel using a Baseline File allows to upload a custom iModel file that will become the base file of the created iModel. There are three steps in creating an iModel from a Baseline File:\r\n\r\n1. Create a new iModel and provide `fromBaseline` creation mode and `baselineFile` property. **It is important to provide correct file size or the iModel creation will fail in the later steps.**\r\n\r\n2. Upload Baseline File to cloud storage using `upload` property link from the response of iModel creation. [Get iModel Baseline File Details](https://developer.bentley.com/apis/imodels-v2/operations/get-imodel-baseline-file-details/) operation may also return an `upload` link.\r\n```\r\nRequest syntax:\r\n    PUT upload HTTP/1.1\r\n```\r\nFor Azure Blob storage the following request header is required: `x-ms-blob-type: BlockBlob`.\r\n\r\n3. Complete the iModel creation by confirming that Baseline File was uploaded successfully. See [Complete iModel Baseline Upload](https://developer.bentley.com/apis/imodels-v2/operations/complete-imodel-baseline-file-upload/) operation for the documentation.\r\n\r\n### 4. Create an empty instantly initialized iModel (deprecated)\r\nTo create an empty instantly initialized iModel do not provide `creationMode`, `template` and `baselineFile` properties.\r\n\r\nThis creation mode has been deprecated due to some limitations (e.g. `geographicCoordinateSystem` cannot be set) and might be removed in future versions of the API.\r\n\r\n### iModel initialization\r\n\r\nWhen creating an empty instantly initialized iModel it will be initialized immediately. In all other cases initialization will be scheduled and it's state is reflected in the `state` property. For a more detailed information about initialization state see [Get iModel Baseline File](https://developer.bentley.com/apis/imodels-v2/operations/get-imodel-baseline-file-details/) operation.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `imodels_manage` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nFor more information please refer to [Account Administrator](https://developer.bentley.com/apis/access-control-v2/overview/#accountadministrator) documentation section on Access Control API documentation page.\r\n\r\n### Rate limits\r\n\r\nThis operation has a lower rate limit than the rest of iModels API operations. If an application exceeds the rate limit it will receive an HTTP error code 429 \"Too Many Requests\". The error response includes a Retry-After header that indicates how long clients should wait before retrying.\r\n\r\n| Tier                       | Rate limit          |\r\n| -------------------------- | ------------------- |\r\n| Trial                      | 5 calls per minute  |\r\n| Basic, Premium, Enterprise | 50 calls per minute |\r\n<br/>\r\n---",
                "operationId": "create-imodel",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Indicates request body content type. Supported media type is `application/json`.",
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json;EmptyiModel": {
                            "schema": {
                                "$ref": "#/components/schemas/iModelCreate"
                            },
                            "examples": {
                                "EmptyiModel": {
                                    "value": {
                                        "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                        "name": "Sun City Renewable-energy Plant",
                                        "description": "Overall model of wind and solar farms in Sun City",
                                        "creationMode": "empty",
                                        "extent": {
                                            "southWest": {
                                                "latitude": 46.1326770283481,
                                                "longitude": 7.67212000993845
                                            },
                                            "northEast": {
                                                "latitude": 46.3027639547812,
                                                "longitude": 7.83554164079782
                                            }
                                        },
                                        "template": null,
                                        "baselineFile": null,
                                        "geographicCoordinateSystem": {
                                            "horizontalCRSId": "EPSG:4326"
                                        }
                                    }
                                }
                            }
                        },
                        "application/json;FromiModelVersion": {
                            "schema": {
                                "$ref": "#/components/schemas/iModelCreate"
                            },
                            "examples": {
                                "FromiModelVersion": {
                                    "value": {
                                        "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                        "name": "Sun City Renewable-energy Plant",
                                        "description": "Overall model of wind and solar farms in Sun City",
                                        "creationMode": "fromiModelVersion",
                                        "extent": {
                                            "southWest": {
                                                "latitude": 46.1326770283481,
                                                "longitude": 7.67212000993845
                                            },
                                            "northEast": {
                                                "latitude": 46.3027639547812,
                                                "longitude": 7.83554164079782
                                            }
                                        },
                                        "template": {
                                            "iModelId": "5e19bee0-3aea-4355-a9f0-c6df9989ee7d",
                                            "changesetId": "1f2e04b666edce395e37a795e2231e995cbf8349"
                                        },
                                        "baselineFile": null,
                                        "geographicCoordinateSystem": {
                                            "horizontalCRSId": "EPSG:4326"
                                        }
                                    }
                                }
                            }
                        },
                        "application/json;FromBaseline": {
                            "schema": {
                                "$ref": "#/components/schemas/iModelCreate"
                            },
                            "examples": {
                                "FromBaseline": {
                                    "value": {
                                        "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                        "name": "Sun City Renewable-energy Plant",
                                        "description": "Overall model of wind and solar farms in Sun City",
                                        "creationMode": "fromBaseline",
                                        "extent": {
                                            "southWest": {
                                                "latitude": 46.1326770283481,
                                                "longitude": 7.67212000993845
                                            },
                                            "northEast": {
                                                "latitude": 46.3027639547812,
                                                "longitude": 7.83554164079782
                                            }
                                        },
                                        "template": null,
                                        "baselineFile": {
                                            "size": 12003548
                                        },
                                        "geographicCoordinateSystem": {
                                            "horizontalCRSId": "EPSG:4326"
                                        }
                                    }
                                }
                            }
                        },
                        "application/json;EmptyInstantlyInitializediModel": {
                            "schema": {
                                "$ref": "#/components/schemas/iModelCreate"
                            },
                            "examples": {
                                "EmptyInstantlyInitializediModel": {
                                    "value": {
                                        "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                        "name": "Sun City Renewable-energy Plant",
                                        "description": "Overall model of wind and solar farms in Sun City",
                                        "extent": {
                                            "southWest": {
                                                "latitude": 46.1326770283481,
                                                "longitude": 7.67212000993845
                                            },
                                            "northEast": {
                                                "latitude": 46.3027639547812,
                                                "longitude": 7.83554164079782
                                            }
                                        },
                                        "template": null,
                                        "baselineFile": null
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreatediModelResponse"
                                },
                                "examples": {
                                    "EmptyiModel": {
                                        "value": {
                                            "iModel": {
                                                "id": "5e19bee0-3aea-4355-a9f0-c6df9989ee7d",
                                                "displayName": "Sun City Renewable-energy Plant",
                                                "dataCenterLocation": "East US",
                                                "name": "Sun City Renewable-energy Plant",
                                                "description": "Overall model of wind and solar farms in Sun City",
                                                "state": "notInitialized",
                                                "createdDateTime": "2020-10-20T10:51:33.0000000+00:00",
                                                "lastChangesetPushDateTime": null,
                                                "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                                "isSecured": false,
                                                "extent": {
                                                    "southWest": {
                                                        "latitude": 46.1326770283481,
                                                        "longitude": 7.67212000993845
                                                    },
                                                    "northEast": {
                                                        "latitude": 46.3027639547812,
                                                        "longitude": 7.83554164079782
                                                    }
                                                },
                                                "_links": {
                                                    "creator": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/users/42101fba-847a-4f4e-85a8-a4bed89065e4"
                                                    },
                                                    "changesets": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/changesets"
                                                    },
                                                    "namedVersions": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/namedversions"
                                                    },
                                                    "upload": null,
                                                    "complete": null
                                                }
                                            }
                                        }
                                    },
                                    "FromiModelVersion": {
                                        "value": {
                                            "iModel": {
                                                "id": "5e19bee0-3aea-4355-a9f0-c6df9989ee7d",
                                                "displayName": "Sun City Renewable-energy Plant",
                                                "dataCenterLocation": "East US",
                                                "name": "Sun City Renewable-energy Plant",
                                                "description": "Overall model of wind and solar farms in Sun City",
                                                "state": "notInitialized",
                                                "createdDateTime": "2020-10-20T10:51:33.0000000+00:00",
                                                "lastChangesetPushDateTime": null,
                                                "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                                "isSecured": false,
                                                "extent": {
                                                    "southWest": {
                                                        "latitude": 46.1326770283481,
                                                        "longitude": 7.67212000993845
                                                    },
                                                    "northEast": {
                                                        "latitude": 46.3027639547812,
                                                        "longitude": 7.83554164079782
                                                    }
                                                },
                                                "_links": {
                                                    "creator": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/users/42101fba-847a-4f4e-85a8-a4bed89065e4"
                                                    },
                                                    "changesets": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/changesets"
                                                    },
                                                    "namedVersions": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/namedversions"
                                                    },
                                                    "upload": null,
                                                    "complete": null
                                                }
                                            }
                                        }
                                    },
                                    "FromBaseline": {
                                        "value": {
                                            "iModel": {
                                                "id": "5e19bee0-3aea-4355-a9f0-c6df9989ee7d",
                                                "displayName": "Sun City Renewable-energy Plant",
                                                "dataCenterLocation": "East US",
                                                "name": "Sun City Renewable-energy Plant",
                                                "description": "Overall model of wind and solar farms in Sun City",
                                                "state": "notInitialized",
                                                "createdDateTime": "2020-10-20T10:51:33.0000000+00:00",
                                                "lastChangesetPushDateTime": null,
                                                "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                                "isSecured": false,
                                                "extent": {
                                                    "southWest": {
                                                        "latitude": 46.1326770283481,
                                                        "longitude": 7.67212000993845
                                                    },
                                                    "northEast": {
                                                        "latitude": 46.3027639547812,
                                                        "longitude": 7.83554164079782
                                                    }
                                                },
                                                "_links": {
                                                    "creator": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/users/42101fba-847a-4f4e-85a8-a4bed89065e4"
                                                    },
                                                    "changesets": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/changesets"
                                                    },
                                                    "namedVersions": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/namedversions"
                                                    },
                                                    "upload": {
                                                        "storageType": "azure",
                                                        "href": "https://example.com/imodelhub-5e19bee0-3aea-4355-a9f0-c6df9989ee7d/5e19bee0-3aea-4355-a9f0-c6df9989ee7d.bim?sv=2019-07-07&sr=b&sig=**removed**&st=2021-07-30T10%3A53%3A09.5224547Z&se=2021-07-30T11%3A13%3A09.5224552Z&sp=rw"
                                                    },
                                                    "complete": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/baselinefile"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "EmptyInstantlyInitializediModel": {
                                        "value": {
                                            "iModel": {
                                                "id": "5e19bee0-3aea-4355-a9f0-c6df9989ee7d",
                                                "displayName": "Sun City Renewable-energy Plant",
                                                "dataCenterLocation": "East US",
                                                "name": "Sun City Renewable-energy Plant",
                                                "description": "Overall model of wind and solar farms in Sun City",
                                                "state": "initialized",
                                                "createdDateTime": "2020-10-20T10:51:33.0000000+00:00",
                                                "lastChangesetPushDateTime": null,
                                                "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                                "isSecured": false,
                                                "extent": {
                                                    "southWest": {
                                                        "latitude": 46.1326770283481,
                                                        "longitude": 7.67212000993845
                                                    },
                                                    "northEast": {
                                                        "latitude": 46.3027639547812,
                                                        "longitude": 7.83554164079782
                                                    }
                                                },
                                                "_links": {
                                                    "creator": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/users/42101fba-847a-4f4e-85a8-a4bed89065e4"
                                                    },
                                                    "changesets": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/changesets"
                                                    },
                                                    "namedVersions": {
                                                        "href": "https://api.bentley.com/imodels/5e19bee0-3aea-4355-a9f0-c6df9989ee7d/namedversions"
                                                    },
                                                    "upload": null,
                                                    "complete": null
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "User is not authorized to create an iModel.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Specified iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "iModel with the same name already exists within the iTwin.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iModelExists",
                                        "message": "iModel with the same name already exists within the iTwin."
                                    }
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "This response indicates that the user has specified not supported media type in the request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "UnsupportedMediaType",
                                        "message": "Media Type is not supported."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json;InvalidiModelsRequest": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "InvalidiModelsRequest": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidiModelsRequest",
                                                "message": "Cannot create iModel.",
                                                "details": [
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Provided 'extent' value is not valid. Valid 'latitude' value range is -90 to 90.",
                                                        "target": "extent"
                                                    },
                                                    {
                                                        "code": "MissingRequiredProperty",
                                                        "message": "Required property is missing.",
                                                        "target": "name"
                                                    },
                                                    {
                                                        "code": "InvalidRequestBody",
                                                        "message": "Failed to parse request body. Make sure it is a valid JSON."
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;MissingRequestBody": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "MissingRequestBody": {
                                        "value": {
                                            "error": {
                                                "code": "MissingRequestBody",
                                                "message": "Request body was not provided."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/favorites": {
            "get": {
                "tags": [
                    "Favorite iModels"
                ],
                "summary": "Get My Favorite iTwin iModels",
                "description": "---\r\n\r\nRetrieves a list of calling user's favorite iModels belonging to the specified iTwin.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_webview` permission assigned at the iModel level. If iModel Role permissions at the iModel level are configured, then user must additionally have at least `imodels_webview` permission assigned at the iTwin level. If permissions at the iModel level are not configured, then user must have `imodels_webview` permission assigned at the iTwin level.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given iTwin the iModel belongs to.\r\n\r\nFor more information please refer to [Account Administrator](https://developer.bentley.com/apis/access-control-v2/overview/#accountadministrator) documentation section on Access Control API documentation page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
                "operationId": "get-my-favorite-imodels",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "query",
                        "description": "Id of the iTwin.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The $top query option requests the number of items in the queried collection to be included in the result. E.g. to return only first collection item provide the following query: $top=1. When $top parameter is not provided default is set to 100. $top value cannot exceed 1000.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "$continuationToken",
                        "in": "query",
                        "description": "Token to retrieve next page in paginated response. Generated by the service and must be sent as is. Currently $skip parameter is being used by default. To initialize usage of continuation token empty $continuationToken must be provided with the first page query: $continuationToken=. $continuationToken is mutual exclusive with $skip parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Indicates a level of details in the response.",
                        "schema": {
                            "$ref": "#/components/schemas/PreferHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;Minimal": {
                                "schema": {
                                    "$ref": "#/components/schemas/iModelsMinimal"
                                },
                                "examples": {
                                    "Minimal": {
                                        "value": {
                                            "iModels": [
                                                {
                                                    "id": "758bdcde-567a-43e0-9321-c7897cced698",
                                                    "displayName": "Sun City Renewable-energy Plant",
                                                    "dataCenterLocation": "East US"
                                                },
                                                {
                                                    "id": "b44460c9-b61d-422c-9422-d36497c3dd04",
                                                    "displayName": "Power Town Processing Plant",
                                                    "dataCenterLocation": "East US"
                                                }
                                            ],
                                            "_links": {
                                                "self": {
                                                    "href": "https://api.bentley.com/imodels/favorites?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$top=100&$continuationToken=IjQ4YzNlOTM0LTY3YjMtNDUwZC1iODA0LTAwNWVhNjRiZDAyMSI"
                                                },
                                                "next": {
                                                    "href": "https://api.bentley.com/imodels/favorites?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$top=100&$continuationToken=YTE1NmE4MDktOTI0MS0zNjQ5LTllYjAtY2hkZTQ1ZDJnczNz"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "application/json;Representation": {
                                "schema": {
                                    "$ref": "#/components/schemas/iModelsRepresentation"
                                },
                                "examples": {
                                    "Representation": {
                                        "value": {
                                            "iModels": [
                                                {
                                                    "id": "758bdcde-567a-43e0-9321-c7897cced698",
                                                    "displayName": "Sun City Renewable-energy Plant",
                                                    "dataCenterLocation": "East US",
                                                    "name": "Sun City Renewable-energy Plant",
                                                    "description": "Overall model of wind and solar farms in Sun City",
                                                    "state": "initialized",
                                                    "createdDateTime": "2020-10-20T10:51:33.0000000+00:00",
                                                    "lastChangesetPushDateTime": null,
                                                    "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                                    "isSecured": true,
                                                    "extent": {
                                                        "southWest": {
                                                            "latitude": 46.1326770283481,
                                                            "longitude": 7.67212000993845
                                                        },
                                                        "northEast": {
                                                            "latitude": 46.3027639547812,
                                                            "longitude": 7.83554164079782
                                                        }
                                                    },
                                                    "_links": {
                                                        "creator": {
                                                            "href": "https://api.bentley.com/imodels/758bdcde-567a-43e0-9321-c7897cced698/users/42101fba-847a-4f4e-85a8-a4bed89065e4"
                                                        },
                                                        "changesets": {
                                                            "href": "https://api.bentley.com/imodels/758bdcde-567a-43e0-9321-c7897cced698/changesets"
                                                        },
                                                        "namedVersions": {
                                                            "href": "https://api.bentley.com/imodels/758bdcde-567a-43e0-9321-c7897cced698/namedversions"
                                                        }
                                                    }
                                                },
                                                {
                                                    "id": "b44460c9-b61d-422c-9422-d36497c3dd04",
                                                    "displayName": "Power Town Processing Plant",
                                                    "dataCenterLocation": "East US",
                                                    "name": "Power Town Processing Plant",
                                                    "description": "Overall model of processing plant in Power town",
                                                    "state": "notInitialized",
                                                    "createdDateTime": "2020-10-20T10:51:33.0000000+00:00",
                                                    "lastChangesetPushDateTime": null,
                                                    "iTwinId": "ad0ba809-9241-48ad-9eb0-c8038c1a1d51",
                                                    "isSecured": false,
                                                    "extent": {
                                                        "southWest": {
                                                            "latitude": 40.0650515864199,
                                                            "longitude": -75.6892050246177
                                                        },
                                                        "northEast": {
                                                            "latitude": 40.0669564955616,
                                                            "longitude": -75.6865871886192
                                                        }
                                                    },
                                                    "_links": {
                                                        "creator": {
                                                            "href": "https://api.bentley.com/imodels/b44460c9-b61d-422c-9422-d36497c3dd04/users/42101fba-847a-4f4e-85a8-a4bed89065e4"
                                                        },
                                                        "changesets": {
                                                            "href": "https://api.bentley.com/imodels/b44460c9-b61d-422c-9422-d36497c3dd04/changesets"
                                                        },
                                                        "namedVersions": {
                                                            "href": "https://api.bentley.com/imodels/b44460c9-b61d-422c-9422-d36497c3dd04/namedversions"
                                                        }
                                                    }
                                                }
                                            ],
                                            "_links": {
                                                "self": {
                                                    "href": "https://api.bentley.com/imodels/favorites?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$top=100&$continuationToken=IjQ4YzNlOTM0LTY3YjMtNDUwZC1iODA0LTAwNWVhNjRiZDAyMSI"
                                                },
                                                "next": {
                                                    "href": "https://api.bentley.com/imodels/favorites?iTwinId=ad0ba809-9241-48ad-9eb0-c8038c1a1d51&$top=100&$continuationToken=YTE1NmE4MDktOTI0MS0zNjQ5LTllYjAtY2hkZTQ1ZDJnczNz"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Specified iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidiModelsRequest",
                                        "message": "Cannot get iModels.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "'abc' is not a valid 'iTwinId' value.",
                                                "target": "iTwinId"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/favorites/{id}": {
            "delete": {
                "tags": [
                    "Favorite iModels"
                ],
                "summary": "Remove iModel from My Favorites",
                "description": "---\r\n\r\nRemoves [iModel](https://www.itwinjs.org/learning/glossary/#imodel) from the calling user's favorites list.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_webview` permission assigned at the iModel level. If iModel Role permissions at the iModel level are configured, then user must additionally have at least `imodels_webview` permission assigned at the iTwin level. If permissions at the iModel level are not configured, then user must have `imodels_webview` permission assigned at the iTwin level.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given iTwin the iModel belongs to.\r\n\r\nFor more information please refer to [Account Administrator](https://developer.bentley.com/apis/access-control-v2/overview/#accountadministrator) documentation section on Access Control API documentation page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
                "operationId": "remove-imodel-from-my-favorites",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "iModel id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
                                                "message": "Access denied due to invalid access_token. One or more required scopes are missing. Make sure to provide a valid token for this API endpoint."
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "value": {
                                            "error": {
                                                "code": "Unauthorized",
                                                "message": "Access denied due to invalid client. Make sure that client was registered on https://developer.bentley.com."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Specified iModel was not found.",
                        "content": {
                            "application/json;iModelNotFound": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "iModelNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "iModelNotFound",
                                                "message": "Requested iModel is not available."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Favorite iModels"
                ],
                "summary": "Add iModel to My Favorites",
                "description": "---\r\n\r\nAdds [iModel](https://www.itwinjs.org/learning/glossary/#imodel) to the calling user's favorites list.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_webview` permission assigned at the iModel level. If iModel Role permissions at the iModel level are configured, then user must additionally have at least `imodels_webview` permission assigned at the iTwin level. If permissions at the iModel level are not configured, then user must have `imodels_webview` permission assigned at the iTwin level.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given iTwin the iModel belongs to.\r\n\r\nFor more information please refer to [Account Administrator](https://developer.bentley.com/apis/access-control-v2/overview/#accountadministrator) documentation section on Access Control API documentation page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
                "operationId": "add-imodel-to-my-favorites",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "iModel id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader.schema"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader.schema"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    },
                                    "InvalidApplicationTier": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidApplicationTier",
                                                "message": "The application is not allowed to access this API."
                                            }
                                        }
                                    },
                                    "InvalidAuthorizationScheme": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidAuthorizationScheme",
                                                "message": "Authorization scheme 'Baerer' is not valid."
                                            }
                                        }
                                    },
                                    "InvalidHeaderValue": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidHeaderValue",
                                                "message": "Authorization header is empty."
                                            }
                                        }
                                    },
                                    "RequiredScopeMissing": {
                                        "value": {
                                            "error": {
                                                "code": "RequiredScopeMissing",
[...]
